
<footer>
  <div class="logo-wrapper">
    <img src="/logo.svg" class="logo" />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua
    </p>
  </div>

    <div class="secondary-links">
        <ul>
            <li>About us</li>
            <li>Jobs</li>
            <li>Press</li>
            <li>Blog</li>
          </ul>
    </div>

    <div class="contact">
        <ul>
            <li>Contact Us</li>
            <li>Terms</li>
            <li>Privacy</li>
          </ul>
    </div>
</footer>
<div class="copyright">
  Challenge by Frontend Mentor. Coded by <a href="https://github.com/ingridevv"><span>ingriddev</span></a>
</div>
