.app-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
    background-color: var(--Navy-900);
}

.logo {
    max-width: 80%;
    cursor: pointer;
}


.logo-container a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
}


.nav-links {
    list-style: none;
    display: flex;
}

.nav-link {
    padding: 0 2rem;
    font-size: 0.8rem;
    font-weight: 400;
    cursor: pointer;
}

.nav-link:hover {
    color: var(--Teal-200);
    transition: 0.2s;
}

/** RESPONSIVENESS **/
@media only screen and (max-width: 430px) {
    .app-header {
        flex-direction: column;
        justify-content: space-between;
    
        .logo {
            width: 60%;
        }
    }

    .nav-links {
        display: none;
    }
}