<app-header></app-header>
<main>
  <section class="hero-section">
    <div class="hero-img-wrapper">
      <img class="hero-illustration" src="/illustration-intro.png" />
    </div>
    <div class="hero-content">
      <h2 class="hero-title">
        All your files in one secure location, <br />
        accessible anywhere.
      </h2>
      <p class="hero-description">
        Fylo stores all your most important files in one secure location. Access
        them wherever you need, share and collaborate with friends family, and
        co-workers.
      </p>
    </div>
    <button>Get Started</button>
    <!-- <div class="divider">
        <img src="bg-curvy-desktop.svg">
    </div> -->
  </section>

  <section class="benefits">
    <benefit-card
      imgPath="/icon-access-anywhere.svg"
      benefit-title="Access your files, anywhere"
      benefit-description="The ability to use a smartphone, tablet, or computer to access your
   account means your files follow you everywhere."
    ></benefit-card>

    <benefit-card
      imgPath="/icon-security.svg"
      benefit-title="Security you can trust"
      benefit-description=" 2-factor authentication and user-controlled encryption are just a couple
   of the security features we allow to help secure your files."
    ></benefit-card>

    <benefit-card
      imgPath="/icon-collaboration.svg"
      benefit-title="Real-time collaboration"
      benefit-description="Securely share files and folders with friends, family and colleagues for
   live collaboration. No email attachments required."
    ></benefit-card>

    <benefit-card
      imgPath="/icon-any-file.svg"
      benefit-title="Store any type of file"
      benefit-description=" Whether you're sharing holidays photos or work documents, Fylo has you
   covered allowing for all file types to be securely stored and shared."
    ></benefit-card>
  </section>

  <section class="productive-section">
    <div class="productive-illustration">
      <img src="/illustration-stay-productive.png" />
    </div>
    <div class="productive-container">
      <h2 class="title-productive">
        Stay productive, <br />
        wherever you are
      </h2>
      <p class="description-productive">
        Never let location be an issue when accessing your files. Fylo has you
        covered for all of your file storage needs.
        <br />
        Securely share files and folders with friends, family and colleagues for
        live collaboration. No email attachments required.
      </p>
      <div class="title-icon-wrapper">
        <span><a href="#">See how Fylo works</a></span>
        <img src="/icon-arrow.svg" />
      </div>
    </div>
  </section>

  <section class="testimonials">
    <img src="/bg-quotes.png" class="quote-divider">
    <testimonial-card
      img-path="/profile-1.jpg"
      card-feedback="Fylo has improved our team producivity by an order of magnitude. 
  Since making the switch our team has become a well-oiled collaboration machine."
      card-name="Satish Patel"
      card-profession="Founder & CEO, Huddle"
    ></testimonial-card>
    <testimonial-card
      img-path="/profile-2.jpg"
      card-feedback="Fylo has improved our team producivity by an order of magnitude. 
  Since making the switch our team has become a well-oiled collaboration machine."
      card-name="Bruce McKenzie"
      card-profession="Founder & CEO, Huddle"
    ></testimonial-card>
    <testimonial-card
      img-path="/profile-3.jpg"
      card-feedback="Fylo has improved our team producivity by an order of magnitude. 
  Since making the switch our team has become a well-oiled collaboration machine."
      card-name="Iva Boyd"
      card-profession="Founder & CEO, Huddle"
    ></testimonial-card>
  </section>

  <app-newsletter></app-newsletter>
  <app-footer></app-footer>
</main>
